% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Thread
{% endblock %}

{% block content %}
    <div class="container">
      <form class="form-create_message" method="POST" action="/create_message">
        <h2 class="form-create_message-title">Create a new message</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.message) }}
        {{ wtf.form_field(form.post) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
