{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Add Topic
{% endblock %}

{% block content %}
    <div class="container">
      <form class="form-create_thread" method="POST" action="">
        <h2 class="form-create_thread-heading">Add a new topic</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.topic) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
