{% extends "base.html" %}
{#todo make this actually display unseen posts#}
{% block title %}
    Alerts
{% endblock %}

{% block content %}
    {{ super() }}
    <h1>New posts for {{ current_user.username }}</h1>
    <em>Unread posts in topics and threads you follow</em>
    <hr>
    <br>
    {% if current_user.get_unseen_threads() %}
    <h1>Threads with new posts:</h1>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Topics</th>
      </tr>
        {% for thread in current_user.get_unseen_threads() %}
        <tr>
          <td>{{thread.id}}</td>
          <td><a href="view_thread/{{thread.id}}">{{thread.name}}</a></td>
          {% if thread.posts[0].author_id==current_user.id %}
              <td><a href="edit_thread/{{thread.id}}" class="btn btn-default">Edit</a></td>
            {% else %}
              <td>{{thread.posts[0].author}}</td>
            {% endif %}
            <td>{{ thread.posts[0].get_time() }}</td>
          <td><a href="view_topic/{{thread.topic.name}}">{{thread.topic.name}}</a></td>
          </tr>
        {% endfor %}
        {% else %}
        <h3> You have no new posts to view </h3>
    {% endif %}

{% endblock %}