{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {{ super() }}
    <h1>Change Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-create_thread-heading">Change Password</h2>
        <hr>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.confirm) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

{% endblock %}