{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Thread
{% endblock %}

{% block content %}
    {{ super() }}
      <form class="form-create_thread" method="POST" action="">
        <h2 class="form-create_thread-heading">Create a new thread</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.thread) }}
        {{ wtf.form_field(form.topic) }}
        {{ wtf.form_field(form.post) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
{% endblock %}
