{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
    <div class="container">
      <form class="form-edit_post" method="POST" action="/edit_post">
        <h2 class="form-edit_post-heading">Edit existing thread</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.thread) }}
        {{ wtf.form_field(form.post) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
