{% extends "base.html" %}

{% block title %}
    GROUPS
{% endblock %}

{% block content %}
    {{ super() }}
    <h1>GROUPS</h1>
    <h4>View and manage private discussion groups</h4>
    <a href={{ url_for('create_group') }} class="btn btn-success" role="button"> Create a new Group </a>
    <hr>
    {% for group in groups %}
        <div class="well">
        <h3><a href = {{ url_for('manage_group', id=group.id) }}> {{ group.name }}</a>
        <a href={{ url_for('groups', rem=group.id) }} class="btn btn-warning pull-right" role="button">Leave</a>
        <a href={{ url_for('manage_group', id=group.id) }} class="btn btn-success pull-right" role="button">Manage</a>
        </h3>
        </div>
    {% endfor %}

{% endblock %}