{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {{ super() }}
    <h1>Welcome back {{ current_user.username }}</h1>
    <p>Check out new threads and post your own from the navbar above.
    <p>Modify your profile or create a private group by clicking your name in the top right
    <br>
    <hr>
    <h1>Your Feed</h1>
    <h4>The latest posts from threads and topics you follow </h4>
    <br>
    {% for post in current_user.get_feed() %}
        <div class="well">
            <a href="{{ url_for('view_thread', id=post.thread.id) }}">
            <h4>{{ post.author }}</h4>
            <em>{{ post.title }} - {{ post.get_time() }}</em>
            </a>
            <hr>
            {{ post.text }}
            {% if post.author_id==current_user.id %}
                <h3><a href="edit_post/{{ post.id }}" class="btn btn-default pullright">Edit</a></h3>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}