{% extends "base.html" %}

{% block title %}
    Manage Subscriptions
{% endblock %}

{% block content %}
    {{ super() }}
    <h1>Subscriptions</h1>
    <h4>All the topics and threads you've subscribed to</h4>
    <hr>
    {% if current_user.subs %}
        <h3>Threads:</h3>
        {% for thread in current_user.subs %}
            <div class="well">
                <h4>
                    <a href="view_thread/{{ thread.id }}">{{ thread.name }}</a>
                    <a href={{ url_for('unsub_thread',thread_id=thread.id,redir=request.path) }} class = "
                        btn btn-warning btn-xs"
                    role="button">-</a>
                </h4>
            </div>
        {% endfor %}
    {% else %}
        <h4>
            You aren't subscribed to any threads.</h4>
        <a href={{ url_for('view_threads') }}> Click here </a> to find
        some threads to follow
    {% endif %}
    <hr>
    {% if current_user.topics %}
    <h3>Topics:</h3>
        {% for topic in current_user.topics %}
            <div class="well">
                <h4><a href= {{ url_for('view_topic',topic_name=topic.name) }}>{{ topic.name }}</a>
                    {#unsub button#}
                    <a href={{ url_for('unsub_topic',topic_name=topic.name,redir="subscriptions") }} class = "
                        btn btn-warning btn-xs"
                    role="button">-</a>
                </h4>
            </div>
        {% endfor %}
    {% else %}
        <h4>You aren't subscribed to any topics.</h4> Click the <a
            href='#' class="btn btn-success
                btn-xs" role="button">+</a> tag to subscribe to topics that interest you on the <a
            href={{ url_for('view_threads') }}> View Threads </a> page.
    {% endif %}

{% endblock %}