<!--
    unit_testing.html
    A temporary debugging section
    Jinja Arguments:
        posts:  a list of post objects, which will all be displayed iteratively
-->
{% extends "base.html" %}
{% block content %}
    {{ super() }}
    {% if current_user.is_authenticated %}
        You are logged in as {{ current_user }}
    {% endif %}

    {% for post in posts %}
        <div class="post">
            <hr>
            <p>Thread: {{ post.thread }}
            <p>Title: {{ post.title }}
            <p>Posted by: {{ post.author.username }}
            <p>Time: {{ post.timestamp }}
            <p>Text: {{ post.text }}
            <p>Topic: {{ post.topic }}
            <p>User is subscribed to: {{ post.author.subs }}
            <p>User has unseen notifications: {{ post.author.has_notifications() }}
            <p>Subbed to thread: {{ post.thread.subbed }}
        </div>
    {% endfor %}
{% endblock %}


