<!--
    unit_testing.html
    A temporary debugging section
    Jinja Arguments:
        posts:  a list of post objects, which will all be displayed iteratively
-->
{% extends "base.html" %}
{% block content %}
    {{ super() }}
    {% if current_user.is_authenticated %}
        You are logged in as {{ current_user }}
    {% endif %}

    <p>Topics are:</p>
    {% for topic in topics %}
        {{ topic.name }}
    {% endfor %}

    <div class="post">
        {% for post in posts %}
            <hr>
            <p>Thread: {{ post.thread }}
            <p>Topic: {{ post.thread.topic }}
            <p>Time: {{ post.timestamp }}
                {#            <p>Title: {{ post.title }}#}
            <p>Text: {{ post.text }}
            <p>Posted by:
                <a href="{{ url_for('user', username = post.author.username ) }}">{{ post.author.username }}</a>
            <p>User is subscribed to these posts: {{ post.author.subs }}
            <p>User is subscribed to these topics: {{ post.author.topics }}
            <p>User has unseen notifications: {{ post.author.has_notifications() }}
            <p>Users subscribed to this thread: {{ post.thread.subbed }}
        {% endfor %}
    </div>
{% endblock %}


