{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    Threads
{% endblock %}

{% block content %}
    {{ super() }}
    <h1>Threads</h1>
    <p><a href={{ url_for('groups') }} class="btn btn-success btn-xs" role="button">Back to Groups</a></p>
    <br>
    <table class="table table-striped">
        {% if group.threads %}
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Topics</th>
            </tr>
            {% for thread in group.threads %}
                <tr>
                    <td><a href="/view_thread/{{ thread.id }}">{{ thread.name }}</a></td>
                    {% if thread.posts[0].author_id==current_user.id %}
                        <td><a href="edit_thread/{{ thread.id }}" class="btn btn-default">Edit</a></td>
                    {% else %}
                        <td>{{ thread.posts[0].author }}</td>
                    {% endif %}
                    <td>{{ thread.posts[0].get_time() }}</td>
                    <td>
                        <a href= {{ url_for('view_topic',topic_name=thread.topic.name) }}>{{ thread.topic.name }}</a>
                        {#subscribe or remove topic buttons#}
                        {% if thread.topic not in current_user.topics %}
                            <a href={{ url_for('sub_topic',topic_name=thread.topic.name,redir="view_threads") }} class =
                            "
                        btn btn-success btn-xs"
                            role="button">+</a>
                        {% else %}
                            <a href={{ url_for('unsub_topic',topic_name=thread.topic.name,redir="view_threads") }} class
                            = "
                        btn btn-warning btn-xs"
                            role="button">-</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            There are no posts in this group! Why not start one?
        {% endif %}
    <hr>
    <form method="POST" action="">
        <h3>Start a New Thread</h3>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.topic) }}
        {{ wtf.form_field(form.post) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

{% endblock %}