{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
View Thread
{% endblock %}

{% block content %}
    {{ super() }}
    <h2>
        Thread: {{ current_thread.name }}
        {% if current_thread not in current_user.subs %}
            <a href={{ url_for('sub_thread',thread_id=current_thread.id, redir=request.path) }} class="btn btn-success
               pull-right" role="button">Subscribe</a>
        {% else %}
            <a href={{ url_for('unsub_thread',thread_id=current_thread.id, redir=request.path) }} class="btn btn-warning
               pull-right" role="button">Unsubscribe</a>
        {% endif %}
    </h2>
    {% if current_thread.topic %}
        <h3>Topic: <a href={{ url_for('view_topic',topic_name=current_thread.topic.name) }}>{{ current_thread.topic.name }}</a></h3>
    {% endif %}
    {% for post in posts %}
        <div class="well">
            <h4>
                <a href="{{ url_for('user', username = post.author) }}">{{ post.author }}</a></h4>
            <em>{{ post.get_time() }}</em>
            <hr>
            {{ post.text }}
            {% if post.author_id==current_user.id %}
                <h3><a href="edit_post/{{ post.id }}" class="btn btn-default pullright">Edit</a></h3>
            {% endif %}
        </div>
    {% endfor %}
    <form method="POST" action="">
        <h2 class=""></h2>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.post) }}
        {{ form.submit() }}
    </form>
    </div> <!-- /container -->
{% endblock %}